.Tag {
    padding: 0px;
    margin: 0px;
    display: inline-block;
    height: auto;
    background-color: #458960;
    color: var(--secondary-color);
    margin-inline-end: 8px;
    padding-inline: 8px;
    border-radius: 4px;
    white-space: nowrap;
    text-align: start;
    position: relative;
    opacity: 1;
}