.ProgressBar {
    display: flex;
    background-color: #94c5a35d;
    transition: 0.9s;
}

.progressBarWrapper {
    position: absolute;

}

.progressBarValue {
    z-index: 10;

    width: 1px;
    background-color: var(--primary-color);
    transition: width .6s ease;
}