.sidebarButton {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--inverted-main-color);
    cursor: pointer;
    letter-spacing: 0.03em;

    &:hover {
        opacity: 0.8;
    }
}
