.ProfileOverview {
    margin-left: 300px;
}

.greenBackground {
    background-color: #f5fdf9;
}

@media (max-width: 1200px) {
    .ProfileOverview {
        margin-left: 0px;
    }
}

@media (max-width: 768px) {
    .ProfileOverview {
        margin-left: 0;
    }
}