.subtitle {
    color: var(--accent-color);
    margin: 8px 0;
}

.addSkillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 0px;
}

.addSkillsTitle {
    color: var(--accent-color);
    margin: 8px 0;
}

.skillsContainer {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .skillsContainer {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}