.ContactItemCard {
    display: flex;
    column-gap: 32px;


}

.link {
    display: flex;
    column-gap: 32px;

    &:hover {
        opacity: 1;

        .iconContainer {
            background-color: var(--primary-color);
        }
    }
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--accent-color);
}

.value {
    color: #081a02;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ade0bc;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}