.App_light_theme {
    --main-color: #020f00;
    --inverted-main-color: #f4f6fb;
    --primary-color: #21a649;
    --accent-color: #000;
    --secondary-color: #f5fbf4;
    --inverted-accent-color: #f4f6fb;
    --inverted-secondary-color: #202020;

    --code-bg: #f5ede1;
}
