.ProfileInfoCard {
    display: flex;
    align-items: center;
    margin: 10px 0;

    .textContainer {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
}

@media (max-width: 300px) {
    .icon {
        display: none;
    }

    .ProfileInfoCard {
        align-items: flex-start;

        .textContainer {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 10px;
        }
    }
}